.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.content-center {
    justify-content: center;
    align-items: center;
}

ul {
    text-align: center;
    padding: 0;
    list-style-type: none;
}


.connexion{
  position: absolute;
    top: 0px;
    right: 0px;
}

.darkmode {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 1px;
    color: #0363e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

li {
    display: inline-block;
    margin: 0 30px;
}

p {
    background-color: #2196F3;
    border-radius: 38px;
    color: white;
    padding: 5px;
}

.navbar {
    background-color: #2196F3;
    position: fixed;
    margin-bottom: 2rem;
  }


.navbar .nav {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .logo{
    top: 0;
    left: 0;
    width: 10%;
    height: auto;
    border-radius: 50px;
    float: left;
    display: block;
    margin-right: 5rem;
  }

  .navbar .nav:hover {
    background-color: #020202;
    color: black;
    border-radius: 20px;
    text-align: center;
    padding: 14px 16px;
  }

  a{
    color: white !important;
  }
  
  .search-product{
    margin-left: 2rem;
    margin-bottom: 3rem;
  }
  
  body.contact{
    text-align: center;
  }

  img.darkmode{
    width: 8em;
    float: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content span:hover {
  background-color: #f1f1f1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

.hide {
  display: none;
}

.dropdown-menu {
  position: relative;
  top:100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

div.details{
  text-align: center;
}

div.language-selector{
  position: absolute;
  top: 30px;
  right: 180px;
  padding: 1px;
  color: #0363e0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

select.language-selector{
  width: 120px;
  height: 30px;
  border: 1px solid #999;
  font-size: 18px;
  color: #1c87c9;
  background-color: #eee;
  border-radius: 5px;
}

.dropdown-item{
  color :#020202 !important;
  float: left;
  display: block;
}

.dropdown-toggle{
  padding: 14px 16px !important;
}

#map {
  height: 400px;
}